<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 status">
          <div class="col-12 header">
              <i class="icon-plug"></i> Input/Output Setup
              <button class="btn btn-primary btn-sm float-right">
                  <i class="icon-arrows-cw"></i>
              </button>
              <div style="clear:both"></div>
          </div>



          <div class="row content">
            <div class="col-10 col-md-11 header2" style="margin-left:20px; margin-right:20px;">
              Water Counter
            </div>
            <div class="col-12 prop">
                Port: 1
            </div>
            <div class="col-12 prop">
              Pulse Size:  100ml
            </div> 
            
            <div class="col-10 col-md-11 header2" style="margin-left:20px; margin-right:20px;">
              Valves
            </div>
              
                 
              <div class="col-12 prop">
                1:  Port

              </div>
              
          </div>


    


         
      </div>
  </div>